{% block body %}
	<section class="container">
		<h3 class="text-center py-3">Accueil Admin</h3>
		<!-- List: Links -->
		<ul class="list-unstyled mb-0">
			<li class="pb-3 d-flex flex-column">
				<a href="{{ path('seat_index') }}" class="text-white border border-white text-decoration-none mx-5 rounded-2 foot-link">Liste des sièges</a>
			</li>
			<li class="pb-3 d-flex flex-column">
				<a href="{{ path('seat_new') }}" class="text-white border border-white text-decoration-none mx-5 rounded-2 foot-link">Ajouter</a>
			</li>
		</ul>
		<!-- List: Links -->
	</section>
{% endblock %}
