{% extends 'base.html.twig' %}

{% block title %}Edit Seat{% endblock %}

{% block body %}
    <h1>Edit Seat</h1>

    {{ include('seat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('seat_index') }}">back to list</a>

    {{ include('seat/_delete_form.html.twig') }}
{% endblock %}
