.card-title {
    height: 80px;
}

.card-description {
    height: 100px;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 1em 1em;
}

.card-img-top {
    width: 80px;
    height: 80px;
}