$font-title: 'Montserrat Alternates', sans-serif;;
$font-text: 'Lato', sans-serif;

$title-size: 2.3em;
$subtitle-size: 1.8em;
$text-size: 1.2em;
$filter-size: 0.8em;
$black: #000000;
$light: #ffffff;
$red: #A72A2F;
