$font-title: 'Montserrat Alternates', sans-serif;;
$font-text: 'Lato', sans-serif;

$title-size: 2.3em;
$subtitle-size: 1.8em;
$text-size: 1.2em;
$filter-size: 0.8em;
$dark: #000000;
$light: #ffffff;
$red: #A72A2F;
$navbar-responsive-font-size: 15px;
$navbar-logo-size: 80px;
$border-radius-button-nav: 7.5px;