<!-- Footer -->
<footer
	class="bg-dark border text-center text-light">
	<!-- Grid container -->
	<div
		class="container pt-3">
		<!--Grid row-->
		<div
			class="row py-3">
			<!--Grid column-->
			<div
				class="col-lg-4 col-md-6 mb-4 mb-md-0">

				<!-- Section: Social media -->
				<section
					class="d-flex justify-content-around">

					<!-- Facebook -->
					<a class="m-1 bg-light" href="https://github.com/maxime-guichard?tab=repositories" role="button">
						<img src="{{ asset('build/images/github.png') }}" alt="logo github">
					</a>
				</section>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div
				class="col-lg-4 col-md-6 mb-4 mb-md-0 pt-2">
				<!-- List: Links -->
				<ul class="list-unstyled mb-0">
					<li class="pb-3 d-flex flex-column">
						<a href="{{ path('contact') }}" class="text-white border border-white text-decoration-none mx-5 rounded-2 foot-link">Nous contacter</a>
					</li>
					<li class="pb-3 d-flex flex-column">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							Bienvenue
																						!
							<a class="bg-danger text-white border border-white text-decoration-none mx-5 rounded-2 foot-link" href="{{ path('app_logout') }}">Deconnexion</a>
						{% else %}
							<a class="text-white border border-white text-decoration-none mx-5 rounded-2 foot-link" href="{{ path('app_login') }}">Se connecter</a>
						{% endif %}
					</li>
				</ul>
				<!-- List: Links -->
			</div>
			<!--Grid column-->
			<div
				class="col-lg-4 col-md-6 mb-4 mb-md-0 pt-2">
				<!-- Section: Adresse -->
				<p>Siège social :</p>
				<p>45000 Orléans</p>
				<!-- Section: Adresse -->
			</div>
			<!--Grid column-->
		</div>
	</div>
</footer>
